/* define ID's */
#main-bio {
    width:"70%";
}
#contact-info {
    width:"30%";
}
#bio-image {
    width:200px;
    height:200px;
    margin-right:20px;
}
/* define class(es) */
.container {
    width:1024px;
    margin:0-auto;
}

header {
    background-color:"#333333";
    /* why is there a h1 in the instructions? */
    color:"#eee";
    font-size:28px;
}
h2 {
    font-size:24px;
    width:1024px;
    margin:0 auto;
}

body {
    background-color white;
    font-family:"Georgia,Times New Roman,Times, serif";
    color:#333333;
    margin:0;
    padding:0;
}
#main-bio,#contact-info,#bio-image {
    float:left;
}